.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  left: 0;
  right: auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  left: auto;
  right: 0;
}

.u-section-1 .u-group-1 {
  width: 681px;
  min-height: 371px;
  box-shadow: 1px 1px 40px 6px rgba(128,128,128,0.65);
  margin: 60px auto 60px 65px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0 29px;
}

.u-section-1 .u-text-2 {
  margin: 29px 51px 0 29px;
}

.u-section-1 .u-btn-1 {
  margin: 10px auto 0 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    width: 570px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}