@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@font-face {
  font-family: Fira Code VF;
  font-weight: 300 700;
  font-style: normal;
  src: url(/static/fonts/FiraCode-VF.woff2) format("woff2-variations"),
    url(/static/fonts/FiraCode-VF.woff) format("woff-variations");
}

/* Site Color/Font Variables */

:root {
  --docs-color-primary: #2160fd;
  --docs-color-primary-100: #1a90ff;
  --docs-color-primary-tint: rgba(33, 96, 253, 0.16);
  --docs-color-primary-tint-light: rgba(33 96 253/0.24);
  --docs-color-border: #dadde1;
  --docs-color-text: #000000;
  --docs-color-text-100: #646464;
  --docs-color-background: #ffffff;
  --docs-color-background-100: #f8f8f8;
  --docs-color-background-200: #efefef;
  --docs-color-background-300: #dcdcdc;

  --docs-color-android: #44db85;
  --docs-color-apple: var(--docs-color-text) !important;

  --ifm-spacing-horizontal: 1.5rem;

  --ifm-font-family-base: "Rubik", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --ifm-font-family-monospace: "Fira Code VF", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  --ifm-color-primary: #076af7;
  --ifm-color-primary-dark: #065fde;
  --ifm-color-primary-darker: #065ad2;
  --ifm-color-primary-darkest: #054aad;
  --ifm-color-primary-light: #1f79f9;
  --ifm-color-primary-lighter: #2b80f9;
  --ifm-color-primary-lightest: #5096fa;
  --ifm-color-info: #25c2a0;

  --ifm-background-color: linear-gradient(180deg, #f3f6f9 0%, #ffffff 100%);
  --ifm-code-font-size: 95%;
  --ifm-navbar-padding-horizontal: 10px;
}

:root[data-theme="dark"] {
  --docs-color-primary: #2160fd;
  --docs-color-primary-100: #1a90ff;
  --docs-color-primary-tint: rgba(33, 96, 253, 0.16);
  --docs-color-primary-tint-light: rgba(33 96 253/0.24);
  --docs-color-border: #dadde1;
  --docs-color-text: #000000;
  --docs-color-text-100: #646464;
  --docs-color-background: #ffffff;
  --docs-color-background-100: #f8f8f8;
  --docs-color-background-200: #efefef;
  --docs-color-background-300: #dcdcdc;

  --docs-color-android: #44db85;
  --docs-color-apple: var(--docs-color-text) !important;

  --ifm-spacing-horizontal: 1.5rem;

  --ifm-font-family-base: "Rubik", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --ifm-font-family-monospace: "Fira Code VF", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  --ifm-color-primary: #076af7;
  --ifm-color-primary-dark: #065fde;
  --ifm-color-primary-darker: #065ad2;
  --ifm-color-primary-darkest: #054aad;
  --ifm-color-primary-light: #1f79f9;
  --ifm-color-primary-lighter: #2b80f9;
  --ifm-color-primary-lightest: #5096fa;
  --ifm-color-info: #25c2a0;

  --ifm-background-color: linear-gradient(180deg, #f3f6f9 0%, #ffffff 100%);
  --ifm-code-font-size: 95%;
  --ifm-navbar-padding-horizontal: 10px;
  --ifm-button-color: #ffffff;
  /* --ifm-link-color: #1a90ff; */
  --ifm-background-surface-color: @apply from-gray-800 dark:to-gray-900;
  --ifm-background-color: @apply from-gray-800 dark:to-gray-900;

  --ifm-color-content: #e7e7e7;
}

html[data-theme="dark"] {
  --site-color-feedback-background: #f0f8ff;
  --site-color-favorite-background: #1d1e1e;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 10%);
}

div[class^="announcementBar_"] {
  --site-announcement-bar-stripe-color1: #fff;
  --site-announcement-bar-stripe-color2: #fff;
  --site-announcement-bar-stripe-color1: hsl(var(--site-primary-hue-saturation),
      85%);
  --site-announcement-bar-stripe-color2: hsl(var(--site-primary-hue-saturation),
      95%);
  background: repeating-linear-gradient(35deg,
      var(--site-announcement-bar-stripe-color1),
      var(--site-announcement-bar-stripe-color1) 20px,
      var(--site-announcement-bar-stripe-color2) 10px,
      var(--site-announcement-bar-stripe-color2) 40px);
  font-weight: bold;
}

/* Main Docusaurus layout */

.main-wrapper>div {
  max-width: 1440px;
  /* margin: 0 auto; */
}

pre,
code {
  font-variant-ligatures: none;
}

.card:hover {
  background-color: #f5f5f7;
  text-decoration: none;
}

html[data-theme="dark"] .card:hover {
  background-color: #1b1b1b;
  text-decoration: none;
}

[class^="status-"] {
  white-space: nowrap;
}

img {
  border-radius: 15px;
}

::selection {
  background: var(--docs-color-primary);
  color: #fff;
}

/* html[data-theme="dark"] img {
  filter: brightness(75%);
} */

/* File Selector Form Button */

input::file-selector-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

input::file-selector-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

input::file-selector-button:hover {
  background-color: #2c974b;
}

input::file-selector-button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

input::file-selector-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

input::file-selector-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* Doc Sidebar */

.theme-doc-sidebar-menu .menu__list-item-collapsible .menu__link {
  color: var(--ifm-heading-color);
  font-size: 14px;
  padding-left: 12px;
}

/* Section content */

.theme-doc-sidebar-item-category .menu__list li.menu__list-item {
  margin: 8px 0;
}

.theme-doc-sidebar-item-category .menu__list li.menu__list-item svg {
  opacity: 0;
}

.menu__link {
  /* Background tint only for menu links in sidebar */
  --ifm-menu-color-background-active: var(--docs-color-primary-tint);
}

/* Navbar */

nav.navbar:not(.navbar-sidebar--show) {
  backdrop-filter: blur(20px);
  background-color: transparent;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  white-space: nowrap;
  box-shadow: none;
}

.navbar__item,
.menu__link {
  font-size: 14px;
}

.menu__link {
  border-radius: 4px 0 0 4px;
}

.menu__list-item-collapsible:hover {
  background: none;
}

ul.menu__list>li>a.menu__link--active {
  border-right: 1px solid var(--ifm-color-primary);
}

nav.menu {
  padding-right: 0;
  scrollbar-gutter: auto;
}



.navbar-sidebar__item {
  padding-right: 0;
}

.navbar-sidebar__back {
  background: none;
  font-size: 14px;
}

.navbar__link,
.menu__link,
.table-of-contents__link,
.pagination-nav,
.footer {
  --ifm-link-hover-decoration: none;
}

.navbar__inner {
  max-width: 1420px;
  padding: 0 16px;
  margin: 0 auto;
}

.dropdown>.navbar__link {
  display: flex;
  align-items: center;
}

.dropdown>.navbar__link:after {
  content: "";
  border: none;
  position: static;
  top: auto;
  transform: none;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.293 8.293a1 1 0 0 1 1.414 0L12 14.586l6.293-6.293a1 1 0 1 1 1.414 1.414l-7 7a1 1 0 0 1-1.414 0l-7-7a1 1 0 0 1 0-1.414Z' fill='%23888888'/%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
}

html[data-theme="dark"] .dropdown>.navbar__link:after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.293 8.293a1 1 0 0 1 1.414 0L12 14.586l6.293-6.293a1 1 0 1 1 1.414 1.414l-7 7a1 1 0 0 1-1.414 0l-7-7a1 1 0 0 1 0-1.414Z' fill='%23ffffff'/%3E%3C/svg%3E");
}

.dropdown:hover>.navbar__link:after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.293 8.293a1 1 0 0 1 1.414 0L12 14.586l6.293-6.293a1 1 0 1 1 1.414 1.414l-7 7a1 1 0 0 1-1.414 0l-7-7a1 1 0 0 1 0-1.414Z' fill='%231a90ff'/%3E%3C/svg%3E") !important;
}

navbar__item dropdown dropdown--hoverable {
  min-width: fit-content;
  white-space: nowrap;
}

/* Footer */

.footer__description {
  color: var(--docs-color-text-100);
}

.footer__copyright {
  margin-top: 32px;
  font-size: 16px;
  color: var(--docs-color-text-100);
}

.footer__cta p {
  margin: 0;
}

.footer__data {
  flex: 2;
}

.footer__row .links {
  flex: 1;
}

.footer__title {
  font-size: 16px;
  /* font-weight: normal;
  color: var(--docs-color-text-100); */
  margin-bottom: 0.5rem;
}

.footer__item {
  font-size: 16px;
  font-weight: normal;
  color: var(--docs-color-text);
}

.footer__link-item:hover {
  text-decoration: none;
}

.footer__logo {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  opacity: 1;
}

.footer__copyright {
  text-align: left;
  margin-right: 4px;
}

/* .footer--light .footer--dark {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
} */

/* Table */

table {
  border-collapse: collapse;
  border: none;
  background-color: transparent;

  text-align: left;
  font-size: 90%;
}

table :is(tr, td, th, thead) {
  --ifm-table-stripe-background: transparent;
  --table-cell-color: transparent;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--docs-color-border);
}

table thead tr {
  border-bottom: 1px solid var(--docs-color-border);
}

table th {
  font-weight: 500;
  font-size: 14px;
  color: var(--docs-color-text-100);
}

/* Link Styling */

/* a:hover {
  text-decoration: none;
} */

/**
 Image caption, use in markdown as:
 ![Image ALT](./path/to/image)
 _my image caption_
 */
img+em {
  text-align: center;
  display: block;
  margin-top: 1rem;
}

.large-margin {
  margin-left: 1;
  margin-right: 1;
}

/* facebook/docusaurus modules */

.hero {
  backdrop-filter: blur(20px);
  background-color: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.heroTitleTextHtml b {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, rgb(0, 127, 255), rgb(0, 89, 178)) text;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jackInTheBox;
  float: right;
  margin-top: 20px;
  padding: 0 10px 10px;
}

/* index.module.css End */

/* Algolia DocSearch Start */

html[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: rgba(47, 55, 69, 0.7);
  /* Search box */
  --docsearch-searchbox-background: rgba(47, 55, 69, 0.7);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(-26.5deg,
      var(--ifm-color-emphasis-200) 0%,
      var(--ifm-color-emphasis-100) 100%);
}

/* Mobile */

@media only screen and (max-width: 996px) {

  :root {
    --ifm-spacing-horizontal: 1rem;
  }

  .footer__row {
    flex-direction: column;
  }

  .footer__data {
    margin-bottom: 3rem;
  }
}

/* Docusaurus Zoom Start */

.medium-zoom-overlay,
.medium-zoom-image {
  z-index: 9999;
}

[data-theme="dark"] .medium-zoom-overlay,
.medium-zoom-image {
  background-color: var(--docsearch-footer-background);
  z-index: 9999;
}

/* Docusaurus Medium Zoom End */

/* Scrollbar Start */

/* Light */

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

/* Dark */

[data-theme="dark"] ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

[data-theme="dark"] ::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: gray-900;
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #4f6985;
  border-radius: 100vh;
  border: 3px solid #4a78a7;
}

[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: #465569;
}

/* Contact Start */

label {
  font-weight: var(--ifm-font-weight-semibold);
}

input,
textarea {
  background-color: var(--ifm-color-emphasis-300);
  border: 2px solid var(--ifm-color-emphasis-300);
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: var(--ifm-color-emphasis-900);
}

/* Progress Bar */

/* @font-face {
  font-family: progressBarFont;
  src: url(/fonts/font.otf);
}

.mysvg {
  font-family: progressBarFont;
} */

/* ToolTip Start */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* ToolTip End */

/* HomePageFeatures.module.css Start */

.featuresHeading {
  text-align: center;
  padding: 2rem;
}

.homepage-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* gap: 12px; */
  /* border-spacing: 10px; */
  /* padding: 2rem 0; */
  text-decoration: none;
  /* color: var(--docs-color-text); */
  /* 
  --ifm-link-hover-decoration: none;
  --ifm-link-hover-color: inherit;
  cursor: pointer;

  transition-property: background-color, color;

  border: 1px solid var(--docs-color-border);
  border-radius: 8px; */
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-content .title {
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 600;
}

.card-content .description {
  font-size: 14px;
  color: var(--docs-color-text-100);
  line-height: 1.5;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 2rem 0; */
  /* width: 100%; */
  /* background-color: #ffffff; */
  /* background-image: url("https://cdn.jsdelivr.net/gh/Comp-Labs/cdn/img/wave.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.featureSvg {
  height: 200px;
  width: 200px;
}